---
layout: compress
---
<!DOCTYPE html>
<html lang="en">
<head>

  {% include head.html %}
  <style>
    .flex-wrapper {
      display: flex;
      min-height: 100vh;
      flex-direction: column;
      justify-content: space-between
    }

  </style>
</head>
<body id="{% if page.title %}{{ page.title | slugify }}{% else %}home{% endif %}" class="{{ page.layout | downcase }}-layout">

  <div class="flex-wrapper">
    <div class="container">

      {% include header.html %}

      <main class="💈">

        {{ content }}

      </main>

    </div>
    {% include footer.html %}
  </div>




</body>
</html>
